<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopapp">

    <application
        android:label="ShopApp"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- This is the entry point -->
        <activity android:name=".catalogue.CatalogueActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".catalogue.ProductDetailActivity"/>
    </application>
</manifest>

